extends /_includes/_layouts/core

block config
  - pageDescription = "Open-Source projects I worked on"

block content
  .container.mx-auto
    .flrw.p-2
      each project in data.projects
        .fln.w-100p.xl_w-50p.xl_pr-2.pb-2.flrnw
          a.block.bg-gray-3.border.border-gray-6.rounded.fla.overflow-hidden(href=project.url)
            if project.screenshot
              .block.h-14.bg-cover.bg-top.bg-no-repeat(style=`background-image:url(${revv(project.screenshot)})`, href=project.url)
            else
              - const content = include(`_includes/projects/${project.name}.pug`);
              .block.h-14(href=project.url) !{content}

            .p-2
              .blue.text-5.bold.hover_underline=project.name
              .py-1.text-2.black=project.description
