extends /_includes/_layouts/core

block config
  - pageDescription = "Talks I gave in various meetups and conferences"

block content
  .container.mx-auto
    .flrw.p-2
      each talk in data.talks
        - const talkLink = talk.video || talk.slides
        - const talkPicture = `${url.pathToRoot}${talk.screenshot}`
        //- Prevent one word hanging on new line
        - const talkTitle = talk.title.replace(/(\w*) (\w*)$/, "$1&nbsp;$2")
        .fln.w-100p.lg_w-50p.lg_pr-2.pb-2.flrnw
          .block.border.border-gray-6.rounded.fla.overflow-hidden.flcnw
            .fla.flcnw
              a.fln.h-13.sm_h-15.lg_h-17.bg-contain.bg-no-repeat.bg-center.bg-gray-7(style=`background-image:url(${talkPicture})` href=talkLink)
              .fla.bg-white.flcnw.flspb.pt-01.pb-01.px-1.border-t-001.border-gray-5
                a.fln.text-5.blue.bold(href=talkLink)!=talkTitle
                .fln.flrw.flrar.text-1.py-01.gray-9
                  if talk.video
                    a.fln.flrnw.flrcv.mr-1.hover_black.hover_underline(href=talk.video) 
                      .fln Video
                      .fln.h-1.w-1.fill-current.ml-01.opacity-50p
                        include /_includes/svg/target_blank
                  if talk.slides
                    a.fln.flrnw.flrcv.mr-1.hover_black.hover_underline(href=talk.slides) 
                      .fln Slides
                      .fln.h-1.w-1.fill-current.ml-01.opacity-50p
                        include /_includes/svg/target_blank
                  .fla
                  .fln.flrnw.italic.gray-8
                    .fln.pr-01=`${talk.when},`
                    if talk.where_link
                      a.fln.underline.black.hover_no-underline(href=talk.where_link)=talk.where
                    else
                      .fln=talk.where
